{% extends "GBLouvreBundle::layout.html.twig" %}

{% block stylesheets_enfant %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}


{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <h1>Bienvenue au musée du Louvre</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 well">
            <p><strong>Vous allez pouvoir ici, grâce à cette application, acheter en avance vos billets
                    et ainsi éviter de faire la queue aux guichets,
                    le jour de votre visite. Allez-y cliquez sur le bouton Acheter et gagner du temps...</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div id="renseignements" class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2 well">
            Le musée propose plusieurs types de tarifs :
            <ul>
                <li>Un tarif « normal » à partir de 12 ans à 16 €</li>
                <li>Un tarif « enfant » à partir de 4 ans et jusqu’à 12 ans, à 8 €</li>
                <li>Entrée est gratuite pour les enfants de moins de 4 ans</li>
                <li>Un tarif « senior » à partir de 60 ans pour 12  €</li>
                <li>Un tarif « réduit » de 10 € accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4">
            <a href="{{ path('gb_louvre_billetterie')  }}" class="btn btn-warning btn-lg btn-block">Acheter</a>
        </div>
    </div>

{% endblock %}

