body
{
    background: url("../images/Fond.jpg") no-repeat center center fixed;
    /*compatibilité navigateur*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header
{
    height: 70px;
    background-color: rgba(255, 255, 255, 0.6);
}

h1
{
    color: white;
    text-align: center;
    font-size: 4em;
    font-family: Georgia, Serif;
    font-style: italic;
    margin-top: 5%;
    text-shadow: black 0.1em 0.1em 0.2em
}

hr
{
    width: 60%;
}

/*---------------------Paragraphe de prsentation-----------------*/
p
{
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-family: Georgia, Serif;
    font-style: italic;
    /*margin-top: 5% ;*/
    text-shadow: black 0.1em 0.1em 0.1em
}

button
{
    margin-top: 150px;
}

/*-----------------Renseignements sur les tarifs------------------------*/
#renseignements
{
    font-size: 1.2em;
    font-weight: bold;
}

/*---------Cadre autour renseignement---------------------------*/
.well
{
    background-color: rgba(255, 255, 255, 0.8);
}