body
{
    background-image: url("../images/Fond.jpg");
    background-attachment:fixed;
}

header
{
    height: 50px;
    background-color: rgba(255, 255, 255, 0.6);
}


/*-----------------------------------------------------------------------------------------------------------------*/
/*---------Centrer le texte et le grossir pour datepicker------------------*/
#gb_louvrebundle_formulaire_calendrier
{
    text-align: center;
    font-size: 1.1em;
}

/*-------Centrer input du calendrier----------------------------------*/
#calendrierJS
{
    margin-left:25%;
}

/*-------Trait séparation court-------------------------------------*/
#trait_court
{
    width: 75%;
}

/*-----------Titre:Formulaire de visite------------------------------------------------*/
h2
{
    font-size: 2.2em;
    margin-top: 1%;
    text-align: center;
    color: white;
    font-family: Georgia, Serif;
    font-style: italic;
    text-shadow: black 0.1em 0.1em 0.2em
}

/*---------------Decaler radio journée vers la gauche---------------------------------------------------*/
#gb_louvrebundle_formulaire_duree_0
{
    margin-left: -450%;
}

/*------------Decaler l'ensemble des radio pour les centrer----------------------------------------------*/
#gb_louvrebundle_formulaire_duree
{
    margin-left: 40%;
}

/*-----------Décaler le bouton valider pour centrer l'ensemble--------------------------------------------*/
#gb_louvrebundle_formulaire_Valider
{
    margin-left: 25%;
    width:50%;
    margin-bottom: 2.5%;
    margin-top: 1%;
}

/*----------Gestion message erreur--------------*/
#erreur
{
    display: none;
    text-align: center;
}

/*-----------Gérer les legend-----------------*/
legend
{
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
}

/*--------Reduire la taille du trait sous le titre--------*/
hr
{
    width: 900px;
}

/*------Décaler input mail---------------*/
.mail
{
    margin-left: 25%;
}

/*-----Gérer fon formulaire__________*/
.well
{
    background-color: rgba(255, 255, 255, 0.6);
}





